* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

img {
  max-width: 100%;
}

:root {
  --color-7d: #7d3cf2;
  --color-47: #475569;
  --color-1e: #1E293B;
  --color-1ee: #F8FAFC;
  --color-e2: #E2E8F0;
  --color-94: #94A3B8;
  --color-7c: #7C3AED;
  --color-ff: #ffffff;
}

.u-flex {
  display: flex;
}

.u-grow-1 {
  flex-grow: 1;
}

.u-d-block {
  display: block;
}

.u-reset {
  all: unset;
}

.container {
  height: 100vh;
  background-color: var(--color-1ee);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.wrapper-content {
  max-width: 38.4rem;
}
@media only screen and (max-width: 575px) {
  .wrapper-content {
    padding: 0 7%;
  }
}

.label-wrapper {
  display: flex;
  justify-content: space-between;
}

.input-wrapper {
  position: relative;
}

.c-figure {
  width: 50%;
  background-color: var(--color-7d);
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../assets/bg.jpg");
}
.c-figure__img {
  height: inherit;
}
@media only screen and (max-width: 767px) {
  .c-figure {
    display: none;
  }
}

.c-header {
  margin-bottom: 12.9rem;
}
@media only screen and (max-width: 575px) {
  .c-header {
    margin: unset;
  }
}

.c-main__title {
  font-size: 3.6rem;
  font-weight: 700;
  font-style: normal;
  line-height: 5.5rem;
  margin-bottom: 1.6rem;
  color: var(--color-1e);
}
@media only screen and (max-width: 575px) {
  .c-main__title {
    font-size: 2.8rem;
  }
}
.c-main__text {
  font-size: 1.6rem;
  font-weight: 400;
  font-style: normal;
  line-height: 2.4rem;
  margin-bottom: 4rem;
  color: var(--color-1e);
  color: var(--color-47);
}

.c-form__wrapper {
  margin-bottom: 1.6rem;
}
.c-form__label {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.1rem;
  color: var(--color-1e);
  margin-bottom: 0.8rem;
}
.c-form__reset {
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2.1rem;
  color: var(--color-7c);
  cursor: pointer;
}
.c-form__input {
  width: 100%;
  padding: 1.6rem 1.2rem;
  height: 5.3rem;
  border: 1px solid var(--color-e2);
  border-radius: 0.4rem;
}
.c-form__input::placeholder {
  color: var(--color-94);
}
.c-form__eye-button {
  position: absolute;
  top: 50%;
  right: 3%;
  transform: translateY(-50%);
  cursor: pointer;
}
.c-form__eye {
  color: var(--color-94);
}
.c-form__submit {
  width: 100%;
  height: 5.5rem;
  text-align: center;
  color: var(--color-ff);
  margin-top: 3.2rem;
  background-color: var(--color-7c);
  border-radius: 0.4rem;
}

.c-create {
  margin-top: 3.2rem;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-47);
}
.c-create__link {
  font-weight: 600;
  color: var(--color-7c);
  cursor: pointer;
}