:root {
    --color-7d: #7d3cf2;
    --color-47: #475569;
    --color-1e: #1E293B;
    --color-1ee: #F8FAFC;
    --color-e2: #E2E8F0;
    --color-94: #94A3B8;
    --color-7c: #7C3AED;
    --color-ff: #ffffff;
}